.resetBtn {
  text-decoration: none;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 2.4rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #555;
  color: #fff;
  cursor: pointer;

  transition: background-color 0.4s ease;
}

.resetBtn:hover,
.resetBtn:active {
  background-color: #666;
}
